.justify-content-center {
    background-color: #E9ECEF;
}

.yukarı {
    margin-top: 40px;
}

.orta {
    margin-top: 20px;
    margin-bottom: 20px;
}

.jumbotron {
    text-align: center;
}

.about {
    text-align: center;
}